@use './def' as def;

@mixin flex-top {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 0.3rem;
        height: 0.2rem;
        background-color: #ffffff10;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: def.$color-orange;
    }
}

@mixin onactive($bg, $color) {
    transition: ease-in-out 0.1s;
    background-color: $bg;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: def.$mainfont;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

html {
    height: 100%;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
}

body {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: def.$color-blackish;
    overflow: hidden;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    p {
        padding: 0.1rem 0.2rem;
        background-color: #000808;
        display: inline-block;
        font-size: 0.85rem;
        color: white;
        font-weight: bold;
        a {
            text-decoration-color: #ffffff75;
            color: white;
        }
        a:nth-child(1) {
            color: def.$color-blue;
        }
        a:nth-child(2) {
            color: def.$color-orange;
        }
        a:nth-child(3) {
            color: def.$color-red;
        }
    }
}

main {
    background-color: transparent;
    min-width: 21.9375rem;
    min-height: 36.5rem;
    max-width: 100%;
    max-height: 100%;
    width: 21.9375rem;
    height: 36.5rem;
    resize:both;
    overflow: hidden;
    padding: 1.3rem;
    &.phone {
        width: 100%;
        height: 100%;
        resize: none;
    }
    #inner {
        width: 100%;
        height: 100%;
        background-image: url("../../image/WaveLine.png");
        background-position: center;
        padding: 0.8rem;
        #top {
            height: 25%;
            background-color: #00101180;
            border: 0.15rem solid def.$color-blue;
            margin-bottom: 3%;
            border-radius: 0.8rem;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;
            align-content: normal;
            padding-right: 0.5rem;
            &.error {
                animation: errorTop 0.1s 2;
            }
            #curr {
                @include flex-top();
                color: white;
                border: none;
                background-color: transparent;
                font-size: 1.55rem;
                height: 54%;
                width: 98%;
                resize: none;
                float: right;
                text-align: right;
                font-weight: bolder;
                &::selection {
                    background-color: def.$color-blue;
                }
                &:hover, &:active, &:focus {
                    border: none;
                    outline: none;
                }
                &.oneline {
                    height: 30%;
                    margin-top: 0 !important;
                }
            }
            .scrollbar {
                @include scrollbar();
            }
        }
        #bottom {
            height: 72%;
            padding-top: 0.8rem;
            padding-bottom: 0.25rem;
            background-color: transparent;
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
            gap: 3% 3%; 
            grid-template-areas: 
                ". . . ."
                ". . . ."
                ". . . ."
                ". . . ."
                ". . . ."; 
            button {
                border: none;
                filter: drop-shadow(2px 2px 4px #2C2C2C);
                background-color: #456990E5;
                border-radius: 1.2rem;
                width: 100%;
                height: 100%;
                font-size: 2.4rem;
                color: white;
                &:focus {
                    outline: none;
                }
                &:hover {
                    transition: ease-in-out 0.1s;
                    transform: scale(1.04);
                }
                &:active {
                    @include onactive(white, def.$color-blue);
                }
                &.action {
                    font-size: 2.55rem;
                    font-weight: bolder;
                    color: def.$color-orange;
                    &:active {
                        @include onactive(def.$color-orange, def.$color-blue);
                    }
                    &:first-child, &:nth-child(2) {
                        color: def.$color-red;
                        &:active {
                            @include onactive(def.$color-red, def.$color-blue);
                        }
                    }
                    &:nth-child(2) {
                        font-size: 2.1rem;
                    }
                    &:last-child {
                        background-color: def.$color-orange;
                        color: white;
                        &:active {
                            @include onactive(white, def.$color-orange);
                        }
                    }
                }
            }
        }
    }
}

@keyframes errorTop {
    0% { transform: translate(0.1rem, 0.1rem) rotate(0deg); border-color: def.$color-red;}
    20% { transform: translate(-0.2rem, 0rem) rotate(1deg); }
    40% { transform: translate(0.1rem, -0.2rem) rotate(1.8deg); border-color: def.$color-red;}
    60% { transform: translate(0.25rem, 0.1rem) rotate(0.2deg); border-color: def.$color-red;}
    80% { transform: translate(-0.1rem, -0.1rem) rotate(1.3deg); border-color: def.$color-red;}
    100% { transform: translate(0.05rem, -0.15rem) rotate(-1.3deg); border-color: def.$color-red;}
}

@keyframes fadeIn {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

@media screen and (max-width: 28rem) {
    main {
        width: 100% !important;
        height: 100% !important;
        resize: none;
    }
}

@media screen and (max-width: 21.9375rem) {
    main {
        padding: 0.8rem;
        padding-left: 0;
        padding-top: 0;
        margin-left: -0.7rem;
    }
}