<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/css/main.css">
    <title>Számológép</title>
</head>
<body>
    <main>
        <div id="inner">
            <div id="top" class="simple">
                <textarea readonly type="text" id="curr" class="scrollbar oneline" spellcheck="false" style="font-size: 1.7rem;">0</textarea>
            </div>
            <div id="bottom">
                <button class="action" onclick="Run(11);">C</button>
                <button class="action" onclick="Run(12);">CE</button>
                <button class="action" onclick="Run(13.1);">%</button>
                <button class="action" onclick="Run(13.2);">÷</button>
                <button onclick="Run(7);">7</button>
                <button onclick="Run(8);">8</button>
                <button onclick="Run(9);">9</button>
                <button class="action" onclick="Run(13.3);">x</button>
                <button onclick="Run(4);">4</button>
                <button onclick="Run(5);">5</button>
                <button onclick="Run(6);">6</button>
                <button class="action" onclick="Run(13.4);">-</button>
                <button onclick="Run(1);">1</button>
                <button onclick="Run(2);">2</button>
                <button onclick="Run(3);">3</button>
                <button class="action" onclick="Run(13.5);">+</button>
                <button onclick="Run(15);">+/-</button>
                <button onclick="Run(0);">0</button>
                <button onclick="Run(16);">,</button>
                <button class="action" onclick="Run(14);">=</button>
            </div>
        </div>
    </main>
    <script src="../static/script/bignum.js"></script>
    <script src="../static/script/main.js"></script>
</body>
</html>