<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/css/nav.css">
    <title>Információ</title>
</head>
<body>
    <nav>
        <p><a href="./index.html">Számológép</a> • <a href="./info.html">Információ</a> • <a href="https://github.com/11Firefox11/JsCalculator" target="_blank">Forráskód</a> • <a href="https://github.com/11Firefox11/JsCalculator/blob/main/LICENSE.txt" target="_blank">MIT</a></p>
    </nav>
</body>
</html>